body {

    /* Plantilla default para centrar el contenido en el centro */

    display: flex;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}




.generalDiv {
    display: flex;
    flex-direction: column;

    width: 96em;
    height: 50em;

    /* outline: auto; */
    background-color: whitesmoke;
    /* justify-content: center; */
    background-image: url(../img/generalDivPizarraPNG.png );
    background-position: center;
    background-size: 96em 50em;
}


div {
    align-items: center;
}


.shop {
    width: 87em;
    height: 38em;

    margin: auto;
    /* outline: auto; */
    display: flex;
}


/* PARTE IZQUIERDA DE LA TIENDA DRAGNDROP */

.left {
    display: flex;
    margin-left: 4em;
    margin-top: .6em;
    align-items: center;
    justify-content: center;

    width: 88em;
    height: 37em;
    /* background-color: grey; */
    /* outline: auto; */

}


.grid-layout-left {

    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow: scroll;


    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* background-color: lightgreen; */
}

.grid-item {

    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    margin: .5em;


    width: 11em;
    height: 14em;
    border: .2em solid black;
    background-color: beige;

    border-radius: 20%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.subitem-1 {
    display: flex;
    margin-top: .1em;
    margin: .7em auto auto auto;


    width: 90%;
    height: 70%;
    background-color: aqua;
    border-radius: 100%;
    text-align: center;
    align-items: center;

}



.subitem-1 img {
    margin: 0 auto;
    width: 8em;
    height: 8em;
    transform: scale(0.8);
}

.subitem-2 {

    border-bottom-left-radius: 20% 10%;
    border-radius: 0 0 10% 10%;
    text-align: center;
    margin: auto;
    width: 90%;
    height: 20%;
    /* background-color: cadetblue; */
}



/* PARTE DERECHA DE LA TIENDA DRAGNDROP */


.right {
    display: flex;
    flex-direction: column;


    /* outline: auto; */
    margin-left: 5em;
    margin-right: 5em;
    width: 24em;
    height: 35em;


    /* background-color: white; */
    background-image: url(../img/receiptShop.png);
    background-position: center;
    background-size: 17em 35em;


}

.right-top {
    border: 1px solid black;
    display: flex;

    width: 95%;
    height: 4em;
    margin: .5em;
}

.right-top>img {
    margin: auto;
}

.item-navbar-right {
    display: flex;
    flex-direction: row;
    padding-bottom: .4em;
    border-bottom: .1em solid black;

    width: 95%;
    margin: .1em;
    height: 1em;

}

.item-navbar-ls {
    width: 80%;
    margin: auto;
}

.item-navbar-rs {
    width: 20%;
    margin-right: .5em;
    text-align: end;
}

.item-list-right {
    display: flex;
    flex-direction: column;


    width: 95%;
    margin-top: .3em;
    margin-bottom: .5em;
    height: 23em;
    /* background-color: darkcyan; */
    /* border-bottom: .1em solid black; */
}

/* .item-list-right:hover,
.imgHidden:hover {
    opacity: 0.8;
    color: lightgrey;
    box-shadow: 1em 1em 5em lightgray;
}

.imgHidden:hover {
    visibility: hidden;
} */



/* CLASES PREDEFINIDAS PARA CREAR POR SCRIPT DENTRO DE ITEM-LIST-RIGHT */


.item-list {
    display: flex;
    flex-direction: row;

    width: 97%;
    height: 1em;
    margin: auto;
    margin-bottom: 0;
    margin-top: .2em;

    /* background-color: white; */
    /* border: .2em solid black; */
    /* outline: auto; */
}


.item-list-name {
    display: flex;

    width: 87%;
    height: .7em;

    margin: auto;
    margin-left: .1em;
    margin-right: 0em;
    /* background-color: brown; */
}

.item-list-name>p {
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
}



.item-list-qty {
    display: flex;

    width: 13%;
    height: .7em;
    margin: auto;
    margin-left: .5em;
    /* background-color: coral; */
}

.item-list-qty>p {
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
}

/* ###################################################################### */



.item-total-right {
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
    width: 95%;
    height: 4em;
    justify-content: center;
    align-items: flex-end;
}

.pesoTotal {
    margin-right: 1em;
    margin-bottom: .5em;
}

.total-right-compute {
    width: 97%;
    height: 4em;

}





/*  CUSTOM SCROLL BAR FOR SHOP */

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 1em;
    height: 0em;
}








@media screen and (max-width: 1540px) {
    .generalDiv {
        width: 88em;
        transform: scale(0.7);
        background-size: 88em 50em;
        transition: all 500ms ease-in;
    }
}

@media screen and (min-width: 1540px) {
    .generalDiv {
        width: 96em;
        transform: scale(1);
        background-size: 96em 50em;
        transition: all 500ms ease-in;
    }
}

@media screen and (max-width: 420) {
    .generalDiv {
        width: 88em;
        transform: scale(0.7);
        background-size: 88em 50em;
        transition: all 500ms ease-in;
    }
}