body {

    /* Plantilla default para centrar el contenido en el centro */

    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: red;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}




.generalDiv {
    display: flex;
    background-color: yellow;
    width: 90em;
    height: 45em;
    outline: auto;
    justify-content: center;

}

.navbar {
    display: grid;
    background-color: blue;
    width: 80em;
    height: 10em;
}