body {

    /* Plantilla default para centrar el contenido en el centro */

    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.generalDiv {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 96em;
    height: 47em;
    outline: auto;
    /* justify-content: center; */
}


div {
    align-items: center;
}

.navbar {
    margin-top: 1em;
    background-color: blue;
    width: 100%;
    height: 5em;
    margin-bottom: 1em;
}



.shop {
    width: 87em;
    height: 38em;
    outline: auto;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}


/* PARTE IZQUIERDA DE LA TIENDA DRAGNDROP */

.left {
    display: flex;
    margin-left: 4em;
    width: 80em;
    height: 35em;
    background-color: grey;
    outline: auto;
    align-items: center;
    justify-content: center;

}


.grid-layout-left {

    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow: scroll;


    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: lightgreen;
}

.grid-item {

    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    margin: .5em;


    width: 10em;
    height: 14em;
    border: .2em solid black;
    background-color: beige;
}

.subitem-1 {
    display: flex;
    margin-top: .1em;
    margin: .7em auto auto auto;


    width: 90%;
    height: 70%;
    background-color: aqua;
    border-radius: 100%;
    text-align: center;
    align-items: center;
}

.subitem-1 img {
    margin: 0 auto;
    width: 8em;
    height: 8em;
}

.subitem-2 {
    text-align: center;
    margin: auto;
    width: 90%;
    height: 20%;
    background-color: cadetblue;
}



/* PARTE DERECHA DE LA TIENDA DRAGNDROP */


.right {
    display: flex;
    flex-direction: column;


    /* outline: auto; */
    margin-left: 5em;
    margin-right: 5em;
    width: 24em;
    height: 35em;


    background-color: white;
    background-image: url(/img/wrinkledReceiptBG.jpg);
    background-position: center;
    background-size: 24em;


}

.right-top {
    border: 1px solid black;
    display: flex;

    width: 95%;
    height: 4em;
    margin: .5em;
}

.right-top>img {
    margin: auto;
}

.item-navbar-right {
    display: flex;
    flex-direction: row;
    padding-bottom: .4em;
    border-bottom: .1em solid black;

    width: 95%;
    margin: .1em;
    height: 1em;

}

.item-navbar-ls {
    width: 80%;
    margin: auto;
}

.item-navbar-rs {
    width: 20%;
    margin-right: .5em;
    text-align: end;
}

.item-list-right {
    display: flex;
    flex-direction: column;


    width: 95%;
    margin-top: .3em;
    margin-bottom: .5em;
    height: 23em;
    /* background-color: darkcyan; */
    /* border-bottom: .1em solid black; */
}

/* .item-list-right:hover,
.imgHidden:hover {
    opacity: 0.8;
    color: lightgrey;
    box-shadow: 1em 1em 5em lightgray;
}

.imgHidden:hover {
    visibility: hidden;
} */



/* CLASES PREDEFINIDAS PARA CREAR POR SCRIPT DENTRO DE ITEM-LIST-RIGHT */


.item-list {
    display: flex;
    flex-direction: row;

    width: 97%;
    height: 1em;
    margin: auto;
    margin-bottom: 0;
    margin-top: .2em;

    /* background-color: white; */
    /* border: .2em solid black; */
    /* outline: auto; */
}


.item-list-name {
    display: flex;

    width: 87%;
    height: .7em;

    margin: auto;
    margin-left: .1em;
    margin-right: 0em;
    /* background-color: brown; */
}

.item-list-name>p {
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
}



.item-list-qty {
    display: flex;

    width: 13%;
    height: .7em;
    margin: auto;
    margin-left: .5em;
    /* background-color: coral; */
}

.item-list-qty>p {
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
}

/* ###################################################################### */



.item-total-right {
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
    width: 95%;
    height: 4em;
    justify-content: center;
    align-items: flex-end;
}

.pesoTotal {
    margin-right: 1em;
    margin-bottom: .5em;
}

.total-right-compute {
    width: 97%;
    height: 4em;

}





/*  CUSTOM SCROLL BAR FOR SHOP */

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 1em;
    height: 0em;
}